# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject
*.versionsBackup

# maven
/build.xml
/target
/pom.xml.versionsBackup

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

/world

# Mac filesystem dust
/.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

#personal
/test-in-spigot.bat
/update-docs-now.bat


/PlayerHeads-api/target/
/PlayerHeads-craftbukkit-1.16-support/target/
/PlayerHeads-craftbukkit-1.16-support/nbproject/
/PlayerHeads-compatibility-api/target/
/PlayerHeads-common-support/target/
/PlayerHeads-compatibility-lib/target/
/PlayerHeads-common-support/nbproject/
/PlayerHeads-base-api/target/
/PlayerHeads-compatibility/PlayerHeads-compatibility-api/target/
/PlayerHeads-compatibility/PlayerHeads-compatibility-lib/target/
/PlayerHeads-compatibility/PlayerHeads-common-support/nbproject/
/PlayerHeads-compatibility/PlayerHeads-common-support/target/
/PlayerHeads-compatibility/target/